doctype html
html
  head
    meta(charset='UTF-8')
    title svg_practice
    link(rel='stylesheet', href='../css/style.css')
  body
    h1 test_test
    div.
      <svg xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <path d="M300,300 v-300 a300,300 0 0,1 0,0 z" id="circle-wipe" fill="#000" stroke-width="0" />
      </svg>
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='../js/script.js', charset='UTF-8')
